.Clock{

}
.circularClock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    .clockFace {
        width: 200px;
        height: 200px;
        background-color: #f2f2f2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .hand {
            position: absolute;
            background-color: black;
            transform-origin: 50% 100%;
            transition: transform 0.5s ease;
          }
          
          .seconds {
            height: 45%;
            width: 2px;
          }
          
          .minutes {
            height: 40%;
            width: 4px;
          }
          
          .hours {
            height: 30%;
            width: 6px;
          }
      }
  }
  
 
 